<div class="column">
    <div class="ui selection horizontal list">  
        <a class="item" ng-repeat="user in users" href="// '#/user/' + user.id //">
            <div class="content">
                <div class="header">// user.first_name //, // user.age //</div>
                Number of friends: // user.friends.length || 0 //
            </div>
        </a>
    </div>
</div>
