<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>30Hils Demo App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/semantic.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" charset="utf-8" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8" href="{{ url_for('static', filename='javascript/semantic.min.js') }}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0-beta.13/angular.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0-beta.13/angular-route.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='javascript/app.js') }}" type="text/javascript" charset="utf-8"></script>
    <script>
      
      angular.element(document).ready(function() {
        angular.bootstrap(document, ['Hills']);
      });

      var Hills = angular.module('Hills', ['ngRoute'], function($interpolateProvider, $locationProvider) {
          $locationProvider.html5Mode(false);
          $interpolateProvider.startSymbol('//');
          $interpolateProvider.endSymbol('//');
        }).config(["$routeProvider", function($routeProvider) {
          $routeProvider
          .when('/user/:id', {
            templateUrl : '/partials/profile',
            controller  : 'ProfileController'
          })
          .when('/', {
            templateUrl : '/partials/home',
            controller  : 'HomeController'
          }).otherwise({
            redirectTo: '/'
          });
       }]);
    
      Hills.controller('HomeController', ['$scope', '$http', function($scope, $http) {
        $http.get('/users').success(function(data) {
            $scope.users = data;
        });
      }]);
      
      function findById(source, id) {
          for (var i = 0; i < source.length; i++)
            if (source[i].id === id)
              return source[i];
      }
      
      Hills.controller('ProfileController', ['$scope', '$http', '$routeParams', function($scope, $http, $routeParams) {
          if($routeParams.id) {
            $http.get('/users').success(function(data) {
              $scope.users = data;
              $scope.user = findById($scope.users, parseInt($routeParams.id));
            }); 
          }
      }]);
    </script>
</head>
<body id="home">
  <div class="ui menu fixit">
    <a href="/#/" class="header item">30Hills</a>
  </div>
  <div ng-view>
      
  </div>
</body>
</html>
