<h1 class="ui inverted red block header">// user.first_name //, // user.age //</h1>
<div class="ui three column page grid">
    <div class="column">
        <h2>Friends</h2>
        <div class="ui selection horizontal list">  
            <a class="item" ng-repeat="friend in friends" href="// '#/user/' + friend.id //">
                <div class="content">
                    <div class="header">// friend.first_name //, // friend.age //</div>
                    Number of friends: // friend.friends.length || 0 //
                </div>
            </a>
        </div>
    </div>
    <div class="column">
        gfdgfdgdfg
    </div>
    <div class="column">
        gfdgfdgdfg
    </div>
</div>
